@font-face {
  font-family: 'NetflixSans';
  src: url('/fonts/NetflixSans-Bold.woff2') format('woff2'),
    url('/fonts/NetflixSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'NetflixSans', sans-serif;
}
